<h2>Caroline's Portfolio and Tech Blog</h2>
<p>This will over time become pretty and have an admin section and do all the yada yada but for now it is like it is!!</p>
<p>Blame procatination and laziness and distractions!!</p>
<p>
  The time is now: <%= Time.now %>
</p>