<%= form_for(page) do |f| %>

<div class= "field">
	<%= f.label :title %>
	<%= f.text_field :title %>
</div>

<div class= "field">
	<%= f.label :body %>
	<%= f.text_area :body %>
</div>

<div class= "field">
	<%= f.label :slug %>
	<%= f.text_field :slug %>
</div>

<div>
	<%= f.submit %>
</div>

<% end %>